* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: Montserrat;
}
.App{
  width: 1440px;
  margin: 0 auto;
}
/* header.jsx */
.nav-center a {
  text-decoration: none; 
}
header {
  height: 128px;
  display: flex;
  padding: 0 40px;
  border-bottom: 1px solid #DDDDDD;
}

.nav-cont {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  
}
.logo img {
  height: 70px;
}
.nav-center {
  display: flex;
  list-style-type: none;
  justify-content: space-between;
  font-size: 20px;
  line-height: 26px;
  width: 518px;
  height: 26px;
  font-weight: 500;
  
}
.nav-center li {
  cursor: pointer;


}
a{
  color: #282828;
}
.nav-center  .active {
  color: #339933;
}
.cart {
  cursor: pointer;
}
.cart img {
  height: 48px;
}

/* Footer.jsx */
footer{
  height: 948px;
  padding: 0 40px;

}

footer h2{
  font-size: 64px;
  line-height: 70.4px;
  margin-bottom: 32px;
}
.q{
  height: 758px;
}
.footer-details{

  display: grid;
  grid-template-columns: 780px 548px;
  grid-template-rows:150px 194px;
  gap: 32px;
  margin-bottom: 32px;
}
.contact-item{
  background-color: #F1F3F4;
  border-radius: 10px;
  padding: 32px;
  display: flex;
  flex-direction: column;
  gap: 17px;
}
footer h3{
  font-size: 20px;
  color: #8B8B8B;
  font-weight: 500;
  line-height: 26px;
}
footer p{
  font-size: 40px;
  font-weight: 600;
  line-height: 44px;
}
.social-icons{
  width: 102px;
  display: flex;
  justify-content: space-between;
}

/* HomePage */
.head {
  position: relative;
  text-align: center;
}
.head-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}
.head-content {
  position: absolute;
  top: 68px;
  left: 40px; 
  text-align: left;
  
  width: 1360px;
  height: 310px;
  color: white;
}

.head-content h1 {
  font-size: 96px;
  margin-bottom: 20px;
}

.head-button {
  background-color: #339933;
  width: 218px;
  height: 58px;
  color: white;
  border: none;
  padding: 16px 56px 16px 56px;
  font-size: 20px;
  font-weight: 600;
  line-height: 26px;
  border-radius: 5px;
  cursor: pointer;
}
